* {
	font-family: sans-serif;
}
body {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0;
	background: #aaccaa;
}

h3 {
	min-width: 200px;
	margin: 5px 0;
	text-align: center;
	color: #eeeeee;
	font-size: 30px;
}
footer {
	margin: 5px;
	text-align: right;
	color: #eeeeee;
}

section {
	width: 100%;
	height: 100%;
	overflow: hidden;
	text-align: center;
	position: relative;
}

.flex-container {
    height:100%;

    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.flex-container .flex-item {
    -webkit-flex: auto;
    flex: auto;
}

.slide-container {
	width: 100%;
	height: 100%;
	transform: translateX(0);
	position: absolute;
	left: 0;
	top: 20px;
	z-index: 1;
}

.next {
	z-index: 2;
}

.shown {
	z-index: 3;
}

.slide-container.left {
	width: 0;
	transition-duration: 5s;
}

.slide {
	width: 100%;
	height: 100%;
	left: 0;
}

.slide {
	margin: 5px;
	background-attachment: fixed;
	background-size: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}